[Unit]
Description=
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=60
WorkingDirectory=
ExecStart=
KillMode=control-group
KillSignal=SIGTERM
StandardOutput=syslog
StandardError=syslog
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
